<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Products App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#F0F8FF">
<nav class="navbar navbar-light" style="background-color:#A52A2A;">
    <a class="navbar-link btn-lg bg-success" href="{% url 'index' %}" style="background-color:#FFCC33;color:#000000;">Show all</a>
<a href="{% url 'admin:index' %}" class = 'navbar-link btn-lg bg-success' style="background-color:#FFCC33;color:#000000;">Admin</a>
    <a href="{% url 'upload-Product' %}" class="navbar-link btn-lg bg-success" style="background-color:;color:#000000;">Upload Products</a>
</nav>
<br>
{% block content %}
<div class="card-columns">
    {% for Product in shelf %}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ Product.picture.url }}">
  <div class="card-body">
    <h5 class="card-title">{{ Product.name }}</h5>
    <p class="card-text">{{ Product.describe }}</p>
   <div class="card-footer bg-transparent border-dark">
   <p class="card-title">{{Product.author}}</p>
   <center>
       <a href="update/{{Product.id}}" class="btn btn-warning" id = '{{Product.id}}'>edit</a>
       <a href="delete/{{Product.id}}" class="btn btn-danger" id = '{{Product.id}}'>delete</a>
    </center>
    </div>
  </div>
</div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>